{{page-title "RecipeBook"}}

<nav class="navbar">
  <LinkTo class="nav-link" @route="recipes">Home</LinkTo>
  <LinkTo class="nav-link" @route="create-recipe">Create Recipe</LinkTo>
</nav>

<div class="container">
  {{outlet}}
</div>